/* Основной стиль слайдера */
.ui-slider {
    background: white;
    border-width: 0;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    margin-top: 1em;
    position: relative
}

/* Ручка (ползунок) слайдера */
.ui-slider-handle {
    background-color: #ffb6c1;
    border: 2px solid var(--dark-pink);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transition: transform 0.3s ease;
    outline: none;
}

/* При наведении на ручку */
.ui-slider-handle:hover {
    transform: scale(1.15); /* Увеличение ручки */

}

/* Активное состояние слайдера */
.ui-slider .ui-slider-range {
    background-color: var(--dark-pink);
    border-radius: 2px;
}
