:root {
	--background-white: #F5F5F5;
	--light-grey: #E0E0E0;
	--grey: #9e9e9e;
	--black-text: #424242;
	--blue: #48CFCB;
	--dark-blue: #229799;
	--red: #E53935;

	--main-pink: lightpink;
	--dark-pink: #C71585;
	--ultra-dark-pink: #810754;
	--deep-pink: #FF1493;
	--error: red;

	--checked: var(--main-pink);
	--my-border-color: var(--dark-pink);
}

header {
	color: var(--dark-pink);
	font: 2.5em monospace;
}

body {
	background: #FFDCE2;
	place-items: center;
}

.main{
	margin:	auto;
	display: table;
	font-family: monospace;
	border-spacing: 20px 10px;
}

.inputs-td {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inputs{
	line-height: 10px;
	font-size: 1.6em;
	align-self: flex-start;
}

input[type=text], .text {
	border-color: var(--dark-pink);
	width: 100%;
}

.x, .r, .y, .r-slider {
	margin-top: 4%;
}

button, input[type=button], .button {
	border: none;
	border-radius: 10px;
	text-decoration: none;
	color: black;
	background: var(--main-pink);
	box-shadow: 0 5px 0 var(--dark-pink);
	padding: 0.7em 1.7em;
}

button:hover, .button:hover, input[type=button]:hover, .btn.active {
	background: var(--main-pink);
	box-shadow: none;
	position: relative;
	top: 5px;
}

.send-data-button {
	padding: 1em 2em;
	align-self: flex-start;
	margin-top: auto;
}

.container {
	margin-bottom: 8%;
	margin-top: 8%;
}

label, .text {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
	margin-top: 1em;
}

/*таблица результатов*/
.center-wrapper table {
	display: inline table;
}

.caption {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.records {
	text-align: center;
	font-size: 1.3em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.link-button {
	margin-top: 1em;
	align-self: center;
}

.link-button a {
	text-decoration: none;
	color: inherit;
}

#text-error {
	color: var(--error);
	font-size: 1.7em;
	height: 0.5em;
	margin-top: 1.2em;
	margin-bottom: 2em;
}

.graph {
	text-align: center;
}

.placeholder {
	visibility: hidden;
}

.x-container {
	line-height: 10px;
	font-size: 1.4em;
	align-self: flex-start;
}

.x {
	width: 104%;
	border-color: var(--dark-pink);
	background-color: #fff0f5;
	color: #333;
	cursor: pointer;
}

.x:hover {
	border-color: var(--my-border-color); /* Цвет рамки при наведении */
}

.x:focus {
	outline: none;
	border-color: #ff69b4;
	box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}